{% extends 'template.html' %}

{% block content %}

<div class="container mt-5">
  <div class="table-responsive">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Lokacija</th>
        <th scope="col">Ime</th>
        <th scope="col">Adresa</th>
        <th scope="col">Broj mobitela</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Zagreb</td>
        <td>Josip</td>
        <td>Križanići 29</td>
        <td>0915426100</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Garešnica</td>
        <td>Martina</td>
        <td>Adresa 123</td>
        <td>091xxxxxxx</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Rijeka</td>
        <td>Marko</td>
        <td>Adresa 123</td>
        <td>091xxxxxxx</td>
      </tr>

    </tbody>
  </table>
  </div>
</div>


<div class="container mt-5">
  <div class="table-responsive">
  <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Platforma</th>
          <th scope="col">Link</th>
          <th scope="col">Naziv</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Facebook</td>
          <td>https://www.facebook.com/groups/749095790532856</td>
          <td>crogreens</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Instagram</td>
          <td>https://www.instagram.com/crogreens/</td>
          <td>crogreens</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Gmail</td>
          <td>crogreens1@gmail.com</td>
          <td>crogreens</td>
        </tr>

      </tbody>
    </table>
    </div>
</div>


{% endblock %}

