{% extends 'template.html' %}

{% block content %}


<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="./static/2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Rotkvica - Red Rubin Radish</h5>
        <p class="card-text">CroGreens Premium. <br>Bogato vitaminima A, C, D, B6, magnezijem.</p>
        <div class="container">
          <div class="row align-items-start">
            <div class="col-8">
              <a href="{{ url_for('product', product_id=1) }}" class="btn btn-primary">Detalji</a>
            </div>
            <div class="col-4">
              <strong>3.99€</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="./static/1.jpg" class="card-img-top" alt="..">
      <div class="card-body">
        <h5 class="card-title">Suncokret - Sunflower Ukko</h5>
        <p class="card-text">CroGreens Premium.<br>Jedan od najkvalitetnijih izvora biljnih proteina. Bogato Vitaminima B1 B2 B3 B6 B12, Fosforom, Željezom, Kalijem, Bakrom, Selenom, Cinkom, Manganom, Magnezijem, Folatima. Također sadrži značajne količine Linolne kiseline, Vitamina B9, D, Omega-3 i Omega-6.</p>
        <div class="container">
          <div class="row align-items-start">
            <div class="col-8">
              <a href="{{ url_for('product', product_id=1) }}" class="btn btn-primary">Detalji</a>
            </div>
            <div class="col-4">
              <strong>3.99€</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="./static/1.jpg" class="card-img-top" alt="..">
      <div class="card-body">
        <h5 class="card-title">Salata - Cress Romagna</h5>
        <p class="card-text">CroGreens Premium.<br>Bogat vitaminima B1, B2, B3 (niacin), B6, C, E, bakrom, željezom, cinkom, magnezijem, kalcijem, jodom, natijem, fosforom, karotenom, sumporom.</p>
        <div class="container">
          <div class="row align-items-start">
            <div class="col-8">
              <a href="{{ url_for('product', product_id=1) }}" class="btn btn-primary">Detalji</a>
            </div>
            <div class="col-4">
              <strong>3.99€</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="./static/3.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Brokula - broccoli Rabe</h5>
        <p class="card-text">CroGreens Premium. <br>Bogato Kalcijem, Vitaminima B, A, K, Željezom, Magnezijem, Fosforom, Kalijem, Klorofilom, Raznim drugim Mikroelementima, Aminokiselinama, Antioksidansima.</p>
        <div class="container">
          <div class="row align-items-start">
            <div class="col-8">
              <a href="{{ url_for('product', product_id=1) }}" class="btn btn-primary">Detalji</a>
            </div>
            <div class="col-4">
              <strong>3.99€</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="./static/1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Brokula - Calabrian broccoli Sibari</h5>
        <p class="card-text">Crogreens Brokula Premium. <br>Jako visoki postotak Vitamina C, Beta-karotena, Natrija, Kalija, Kalcija, Željeza, Selena, Cinka, Polifenola, Klorofila, Dijetalnih vlakana.</p>
        <div class="container">
          <div class="row align-items-start">
            <div class="col-8">
              <a href="{{ url_for('product', product_id=1) }}" class="btn btn-primary">Detalji</a>
            </div>
            <div class="col-4">
              <strong>3.99€</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


{% endblock %}

