{% extends 'template.html' %}

{% block content %}

<div class="container mt-5 mb-5">
    <hr class="hr" />
    <p class="fs-5">Cijenimo kvalitetu, a kvantiteta - po mogućnostima. Nikada nećemo žrtvovati kvalitetu zbog veće zarade - to se dugoročno nikada ne isplati.</p>
    <hr class="hr" />
    <p class="fs-5">Sve što radimo, radimo prvenstveno za vlastite potrebe. Mi smo sami sebi pokusni kunići za sve naše projekte, a naši klijenti dobiju ono što se pokazalo pozitivnim.</p>
    <hr class="hr" />
    <p class="fs-5">Naši klijenti su ljudi koji cijene zdravlje i visoku kvalitetu života i kojima je zdravlje visoko na listi prioriteta. Zapravo, svi ljudi cijene zdravlje, ali im se ono možda trenutno nalazi ispod trenutne ugode, statusa, da imaju više od susjeda, i sl. Takvim ljudima treba podsjetnik poput ovog, da nisu neuništivi i da sve dolazi na naplatu, i da zapravo mogu imati oboje - i zdravlje i uspjeh.</p>
    <hr class="hr" />
    <p class="fs-5">Kada se radi o zdravlju, tu nema kompromisa. Zdravlje je prioritet, pa onda sve ostalo. Što čovjeku vrijedi sve bogatsvo ako nema zdravlje da u njemu uživa?</p>
    <hr class="hr" />
    <p class="fs-5">Ovdje se uopće ne radi o uspjehu. Mi nudimo ono što znamo iz prve ruke, i uvijek tražimo ono najbolje - za sebe. Prirodno je i ljudski da kada otkrijemo nešto dobro, da to želimo podjeliti sa svima. Sada, hoće li drugi prepoznati to ili ne, na to ne možemo previše utjecati. Ono što možemo napraviti je biti živi primjer. </p>
    <hr class="hr" />
    <p class="fs-5">U suštini, mi tražimo užitak - u onome što radimo, što jedemo, kako se osjećamo. Ovdje se ne radi o nasilju nad samim sobom - baš suprotno. Mi tražimo nešto bolje, nešto više od onoga što smo naučeni.</p>
    <hr class="hr" />
    <p class="fs-5">Odbijamo biti ovisni o doktorima, ljekovima i ostalim "štakama" na koje nas ovo društvo pokušava navući. A sloboda je poznavati svoje tjelo, što je dobro za njega i gdje su granice, a isto vrijedi i za sve druge aspekte života. </p>
    <hr class="hr" />
    <p class="fs-5">Važno je biti pametan i paziti od koga prihvaćamo savjet - što rade zdrave osobe? Što jedu, koje su njihove navike? Što jedu vrhunski sportaši? I čuvat se savjeta bliskih ljudi koji možda zvuče samouvjereno. Nekada trebamo samo na kratko začepiti uši i otvoriti oći da bi nam stvari bile jasnije. </p>
    <hr class="hr" />
    <p class="fs-5">Svi imamo želje, snove. Ono što nam često nedostaje je energije da to ostvarimo. Otkrili smo da je prehrana veliki dio formule koja riješava ovaj problem. (Drugi dio je znati što želimo i izbjegavati "bitke" koje ne služe tim željama. Hrana za pobjednike će nam dati više energije ali sve je uzalud ako tu energiju trošimo na rasprave sa negativnim osobama koje crpe energiju iz nas.)</p>
</div>


{% endblock %}

