{% extends 'template.html' %}

{% block content %}

<div class="container mt-4">
    <p class="fs-1">Priroda i strpljivost</p>
    <p class="mt-4">U prirodi, kad govorimo o prirodnom rastu biljke - ne postoji prečac. </p>
    <p>Vrijeme potrebno da biljka sazrije i da plod nije pod našom kontrolom.</p>
    <p>Sjeme ima svoje isprogramirano vrijeme koje mu je potrebno da nikne, ako smo osigurali sve ostale minimalne uvjete.</p>
    <p>Sjeme neće niknuti ako smo nestrpljivi, ako se ljutimo, ako brinemo, ako ga gledamo ili ne gledamo, ako mu pričamo ili pjevamo.</p>
    <p>Čak suprotno - ako ga stalno diramo, provjeravamo - izlažemo neželjenoj svjetlosti, ono ima sve manje šanse da postigne puni potencijal.</p>
    <p>Isto vrijedi za sve faze života biljke.</p>
    <p>Premalo nije dobro.</p>
    <p>Previše nije dobro.</p>
    <p>Kako da znamo kada je premalo ili previše?</p>
    <p>Biljka nam sve govori, samo moramo naučiti pričati njezin jezik.</p>
    <p>Mi se moramo prilagoditi njoj, moramo pratiti njezin tempo.</p>
    <p>Kada joj fali vode, pokazat će nam to, kao i kada se utapa u vodi.</p>
    <p>Kada joj fali vitamina i/ili minerala, i to nam otkriva na razne načine.</p>
    <p>Biljci samo treba pažnje i naše volje da ju vidimo kako ostvaruje svoj puni potencijal.</p>
    <p>Ako joj namećemo svoje želje i svoja očekivanja, nećemo dobiti plod i uništiti ćemo biljku.</p>
    <p>Strpljenje.</p>
    <p>Da li se ovo razlikuje od bilo čega drugoga u životu?</p>
</div>


{% endblock %}

