{% extends 'template.html' %}

{% block content %}

<div class="container mt-4">
    <p class="fs-1">Priroda i povezanost</p>
    <p class="mt-4">Svatko tko je iskusio bar malo ljepote života ju je poželio podjeliti sa drugima.</p>
    <p>Ali je brzo naučio da se večina ljudi ne želi promjeniti i da kontrolirati možemo samo sebe.</p>
    <p>I to je u redu, jer i druga osoba vjerovatno misli isto što i ti: "zašto me ne sluša? JA znam bolje!"</p>
    <p>Ali problem je taj da susjedov način na koji tretira zemlju utječe i na naš vrt. </p>
    <p>Ili, ako gledamo globalno, odnos čovječanstva prema fosilnom gorivu utječe na vrijeme, otapanje leda.</p>
    <p>Svaka tvornica orijentirana profitu utječe na kvalitetu vode, zraka.</p>
    <p><strong>Sve utječe na sve.</strong></p>
    <p>Čak i nečija riječ ima moć, ako želimo, da promjeni naše cijelo iskustvo tog trenutka i dana.</p>
    <p>Zato smo dužni boriti se za istinu i pravdu.</p>
    <p>I zato smo dužni saslušati i drugoga koji možda ipak zna nešto bolje od nas.</p>
    <p>Jer na kraju ne slušamo "drugog", nego istinu i pravu, iz čijih god usta ona izašla.</p>
</div>


{% endblock %}

