{% extends 'template.html' %}

{% block content %}

<div class="container mt-4">
    <p class="fs-1">Priroda i znanje</p>
    <p class="mt-4">Da li je moguće uzgojiti biljku bez da znamo kako?</p>
    <p>Da li je dovoljno samo "željeti"?</p>
    <p>Hoće li biljka narasti ako svako jutro i svaku večer izmolimo molitvu, zamišljamo plod i ponavljamo neku mantru?</p>
    <p>Da li će biljka narasti ako sjedimo u vrtu puni zahvalnosti, ljubavi i čega god drugoga?</p>
    <p>Ne.</p>
    <p>Biljka će narasti i dati plod samo ako učinimo prave stvari.</p>
    <p>I Hitleri mogu uzgojiti predivno stablo trešanja.</p>
    <p>Znanje je ključ. Ovdje govorimo o znanju iz prve ruke, nešto što je osoba osobno doživila.</p>
    <p>Kako doći do znanja?</p>
    <p>Naravno, možemo čitati o tome, slušati o tome, logički zaključivati ali tako postajemo ovisni o drugima.</p>
    <p>Ali što kada naiđemo na problem o kojemu ništa nije napisano u knjizi ili rečeno na videu ili gdje god?</p>
    <p>Tada počinje pravo znanje, mudrost.</p>
    <p>Moramo otvoriti oći, priznati da ne znamo i pažljivo gledati.</p>
    <p>Tada, svi će nam se odgovori sami pokazati.</p>
    <p>I svako naše životno iskustvo će se pokazati korisnim a sve naučeno - beskorisnim.</p>
</div>


{% endblock %}

